/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');


/* CSS Variables */
:root {
    --primary-font: "Roboto Flex", sans-serif;
    --secondary-font: "Kalam", cursive;
    --primary-color: #ffbd5b;
    /* dark brown */
    --secondary-color: #6fe4f3;
    /* light brown */
    --highlight-color: #416a8e;
    /* blue */
    --text-color: #053b6e;
    /* light blue */
}

body {
    font-family: var(--primary-font);
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-size: 1.2rem;
}

h1,
h2,
h3 {
    text-decoration: underline;
    font-family: var(--secondary-font);
    font-weight: 700;
}

.container {
    margin-top: 20px;
}

/* Nav Bar */

.navbar {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--primary-color);
}

.navbar-brand {
    font-family: var(--secondary-font);
    font-weight: 700;
    color: var(--highlight-color);
    font-size: 2rem;
    text-transform: uppercase;
}

.nav-link {
    font-family: var(--secondary-font);
    font-weight: 700;
    color: var(--highlight-color);
    margin-right: 1rem;
    font-size: 1.5rem;
}

.dropdown-menu {
    font-family: var(--secondary-font);
    background-color: var(--primary-color);
    font-weight: 700;
    color: var(--highlight-color);
    margin-right: 1rem;
    font-size: 1.5rem;
}

.dropdown-item {
    font-weight: 700;
    color: var(--highlight-color);
}

.nav-link:hover {
    color: #329db8 !important;
}

.dropdown-item:hover {
    color: #329db8 !important;
    background-color: transparent;
}

.dropdown-item.active {
    background-color: transparent;
    color: black !important;
}

.form-control-search {
    border-radius: 20px 0 0 20px;
}

/* buttons */
.btn-outline-light {
    border-radius: 0 20px 20px 0;
    background-color: var(--highlight-color);
    color: white;
}

.btn-outline-light:hover {
    border-radius: 0 20px 20px 0;
    background-color: #053b6e;
    color: white;
}

.custom-button-outline {
    border: 2px solid var(--highlight-color);
    padding: 7px 25px;
    background-color: #053b6e;
    color: white;
}

.custom-button-outline:hover {
    background-color: var(--highlight-color);
    color: white;
}

/* Hero sections */
#hero {
    margin-bottom: 10px;
}

#hero-home {
    height: 500px;
    width: 100%;
    position: relative;
    background: url("../images/Hero-image.webp") no-repeat center center/cover;
    background-position: 50% 20%;
    /* 50% horizontally (center), 30% vertically (closer to the top) */
}

.hero-abc,
.resources-hero {
    max-height: 400px;
    width: 100%;
    object-fit: cover;
    position: relative;
    background-position: 50% 40%;
    /* 50% horizontally (center), 30% vertically (closer to the top) */
}

.staff-hero {
    max-height: 500px;
    width: 100%;
    object-fit: cover;
    position: relative;
    background-position: 50% 20%;
    /* 50% horizontally (center), 30% vertically (closer to the top) */
}

.student-hero {
    max-height: 500px;
    width: 100%;
    object-fit: cover;
    position: relative;
    background-position: 50% 40%;
    /* 50% horizontally (center), 30% vertically (closer to the top) */
}

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(107, 181, 241, 0.7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 40%;
    min-height: 100px;
    padding-top: 10px;
    padding-left: 10px;
}

#cover-text>h2,
#cover-text>h3 {
    color: #ffffff;
}

.abc-edi {
    margin-top: 20px;
    padding: 0;
    background-color: black;
}

.vocab-logo {
    max-height: 200px;

}

/* Index Cards */
.card-sleek {
    background: linear-gradient(135deg, var(--highlight-color), #573e5e);
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin: 10px;
    min-height: 20rem;
}

.card:hover {
    transform: translateY(-5px);
}

.card-body {
    padding: 2rem;
    align-content: center;
}

.btn-sleek {
    background-color: #fff;
    color: #2446D6;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-sleek:hover {
    background-color: #667eea;
    color: #fff;

}

/* Carousel */
#carouselExample {
    margin-top: 10px;
    border: 5px solid var(--highlight-color);
    width: 90%;
    max-height: 80vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.carousel-control-prev-icon {
    background-color: rgb(61, 61, 61);
}

.carousel-control-next-icon {
    background-color: rgb(61, 61, 61);
}


/* Accordian */
.accordian-intro {
    margin-top: 20px;

}

.accordion-button {
    font-size: 2rem;
}

.accordion-item {
    color: var(--highlight-color);
    font-size: 1.2rem;
}

/* Resource lists */
.card-resources {
    background: linear-gradient(135deg, var(--highlight-color), #573e5e);
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: auto;
}

.card-resources li {
    background-color: transparent;
    color: #fff;
}


/* Footer */
footer {
    background-color: #343a40;
    color: #fff;
    padding: 1rem;
}

.social-icons a {
    font-size: 1.25rem;
}

/* Media query: tablets and larger (768px and up) */
/* @media screen and (min-width: 768px) {
    .hero {
        height: 700px;
    }
} */

/* Media query: large laptops (1600px and up)
@media screen and (min-width: 1600px) {
    .hero {
        height: 900px;
    }
} */