/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');


/* CSS Variables */
:root {
    --primary-font: "Roboto Flex", sans-serif;
    --secondary-font: "Kalam", cursive;
    --primary-color: #ffbd5b;
    /* dark brown */
    --secondary-color: #6fe4f3;
    /* light brown */
    --highlight-color: #416a8e;
    /* blue */
    --text-color: #053b6e;
    /* light blue */
}

body {
    font-family: var(--primary-font);
    background-color: var(--secondary-color);
    color: var(--text-color);
}

h1,
h2,
h3 {
    text-decoration: underline;
    font-family: var(--secondary-font);
    font-weight: 700;
}

/* Nav Bar */

.navbar {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--primary-color);
}

.navbar-brand {
    font-family: var(--secondary-font);
    font-weight: 700;
    color: var(--highlight-color);
}

.nav-link {
    font-family: var(--secondary-font);
    font-weight: 700;
    color: var(--highlight-color);
    margin-right: 1rem;
    font-size: 1.5rem;
}

.dropdown-menu {
    font-family: var(--secondary-font);
    background-color: var(--primary-color);
    font-weight: 700;
    color: var(--highlight-color);
    margin-right: 1rem;
    font-size: 1.5rem;
}

.dropdown-item {
    font-weight: 700;
    color: var(--highlight-color);
}

.nav-link:hover {
    color: #329db8 !important;
}

.dropdown-item:hover {
    color: #329db8 !important;
    background-color: transparent;

}

.dropdown-item.active {
    background-color: transparent;
    color: black !important;
}

.form-control {
    border-radius: 20px 0 0 20px;
}

.btn-outline-light {
    border-radius: 0 20px 20px 0;
    color: var(--highlight-color);
    border-color: var(--highlight-color);
}

.btn-outline-light:hover {
    border-radius: 0 20px 20px 0;
    color: #a7d2dd;
    border-color: #329db8;
    background-color: var(--highlight-color);
}

/* Hero sections */

#hero-home {
    height: 500px;
    width: 100%;
    background: url("../images/Hero-image.webp") no-repeat center center/cover;
    position: absolute;
    background-size: cover;
    background-position: center;
}

#tips-students {
    height: 500px;
    width: 100%;
    background: url("../images/Diversity-equality-inclusion-SM.webp") no-repeat center center/cover;
}



#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(241, 109, 107, .7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text>h2,
#cover-text>h3 {
    color: #ffffff;
}

.carousel {
    margin-top: 20px;
    border: 2px solid var(--highlight-color);
    Padding: 2px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}


/* Accordian */
.accordian-intro {
    margin-top: 20px;

}
.accordion-button {
    font-size: 2rem;
}

.accordion-item {
    color: var(--highlight-color);
    font-size: 1.2rem;
}

/* Footer */
.footer {
    margin-top: 20px;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    .hero {
        height: 700px;
    }
}

/* Media query: large laptops (1600px and up) */
@media screen and (min-width: 1600px) {
    .hero {
        height: 900px;
    }
}